services:
  runner:
    image: bestony/actions-runner:latest
    restart: unless-stopped
    networks:
      - runner
    environment:
      - REPO=<owner>/<repo>
      - TOKEN=<your-github-personal-access-token>
      - ACTIONS_RESULTS_URL=http://cache:3000/
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    deploy:
      mode: replicated
      replicas: 4
      resources:
        reservations:
          cpus: 0.5
          memory: 1024
        limits:
          cpus: '2.0'    # 即使服务器有 12 线程，单个容器最多也只能用 2 核的量
          memory: 4096M  # 单个容器最多用 4GB，超过就会被重启，保护宿主机
  cache:
    container_name: cache
    image: ghcr.io/falcondev-oss/github-actions-cache-server:latest
    restart: unless-stopped
    networks:
      - runner
    ports:
      - "3000:3000"
    environment:
      API_BASE_URL: http://cache:3000
    volumes:
      - cache:/app/.data

volumes:
  cache:

networks:
  runner:
    external: true
